:root {
  --text-color: #111;
  --white-backgroung-color: #fff;
  --white-text-color: #fff;
  --light: #fafafa;
  --pressed-state: #fcf1e0;
  --black-background: #1e1823;
  --primary-brand: #fd9222;
}
/* 
===========================
command styles
===========================
*/

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.28px;
  background-color: var(--light);
}

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: currentColor;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
}

address {
  font-style: normal;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

label {
  cursor: pointer;
}

/* 
===========================
base styles
===========================
*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

h1 {
  color: var(--white-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.84px;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600px;
  line-height: 1.17;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
}

.benefits,
.ingredients,
.made,
.reviews {
  margin-bottom: 100px;
}

.title-accent {
  color: var(--primary-brand);
}

/* 
===========================
header
===========================
*/

.header-wrap {
  padding: 26px 0 32px 0;
}
.logo-wrap {
  gap: 4px;
  margin-right: auto;
}

.logo-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.54px;
}

.logo-accent {
  font-style: italic;
}

.nav-list {
  gap: 24px;
  margin-right: 90px;
}

.social-media-list {
  gap: 24px;
}
.nav-item {
  transition: color 250ms ease-out;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--primary-brand);
}

.social-media-icons:hover,
.social-media-icons:focus {
  stroke: var(--primary-brand);
}
.social-media-icons {
  fill: none;
  stroke: var(--text-color);
  transition: stroke 250ms ease-out;
}

/* 
===========================
hero
===========================
*/

.hero {
  height: auto;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
  margin-bottom: 72px;
}

.hero h1 {
  width: 484px;
  margin-bottom: 32px;
}

.buttons-wrap {
  align-items: baselines;
}

.CTA-btn,
.CTA-link {
  padding: 14px 40px;
  color: var(--white-text-color);
  font-weight: 500;
  border-radius: 100px;
}

.CTA-btn {
  background-color: var(--primary-brand);
  margin-right: 24px;
  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.CTA-btn:hover,
.CTA-btn:focus {
  background-color: var(--pressed-state);
  color: var(--primary-brand);
}

.CTA-link {
  border: 1px solid var(--white-backgroung-color);
  transition: border 250ms ease-out, color 250ms ease-out;
}

.CTA-link:hover,
.CTA-link:focus {
  border: 1px solid var(--primary-brand);
  color: var(--primary-brand);
}

.scroll {
  color: var(--white-text-color);
  font-weight: 500;
  transition: color 250ms ease-out;
  gap: 14px;
}

.scroll:hover {
  color: var(--primary-brand);
}

.scroll:hover .scroll-icon {
  fill: var(--white-text-color);
}

.scroll:hover .scroll-btn {
  background-color: var(--primary-brand);
}

.scroll-btn {
  width: 38px;
  height: 38px;
  background-color: var(--white-backgroung-color);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms ease-out;
}

.scroll-icon {
  fill: var(--primary-brand);
  transition: fill 250ms ease-out;
}
/* 
===========================
benefits
===========================
*/

.benefits {
  background-color: var(--black-background);
  color: var(--white-text-color);
  padding: 50px 0px;
}

.benefits-list {
  align-items: baseline;
  gap: 88px;
}
.benefits-item > p {
  color: rgba(255, 255, 255, 0.7);
}

.benefits-item h3 {
  margin-bottom: 18px;
}

.benefits-icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  padding: 15px;
  fill: var(--primary-brand);
  margin-bottom: 22px;
}

/*
======================================
Section Ingrediens
======================================
*/

.ingredients-title {
  margin-bottom: 28px;
}

.ingredients-text {
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px auto;
}

.ingredients-list p {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 36px;
}

.ingredients-item {
  width: 270px;
  height: 270px;
  padding: 28px;
  border-radius: 15px;
  background-color: var(--primary-brand);
}

.ingredients-item:nth-child(2n) {
  background-color: var(--white-backgroung-color);
  border: 1px solid var(--primary-brand);
}

.ingredients-item:nth-child(3n) {
  background-color: var(--black-background);
}

/*
======================================
Section How it`s made
======================================
*/

.made-title {
  text-transform: lowercase;
}

.made-content-wrap {
  align-items: flex-start;
  gap: 20px;
}

.made-img {
  width: 600px;
  height: 400px;
  border-radius: 15px;
}
.made-text {
  padding: 32px;
}

.made-list {
  list-style-type: disc;
  padding-left: 15px;
}
.made-item h3 {
  margin-bottom: 28px;
}

.made-item {
  margin-bottom: 24px;
}

/* 
===========================
Section Reviews
===========================
*/

.reviews-list {
  gap: 28px;
  justify-content: center;
}

.reviews-item {
  position: relative;
  height: 200px;
  flex-basis: calc(100% / 2 - 2 * 28px);

  text-align: center;
  background-color: var(--white-backgroung-color);
  border: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.review-img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.leave-review {
  display: block;
  font-weight: 500;
  font-size: 18px;
  padding: 14px 40px;
  background-color: transparent;
  border: 1px solid var(--primary-brand);
  border-radius: 100px;
  margin: 0 auto;
  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.leave-review:hover,
.leave-review:focus {
  background-color: var(--primary-brand);
  color: var(--white-backgroung-color);
}

/* 
===========================
Footer
===========================
*/

footer {
  padding: 50px 32px;
  background-color: var(--black-background);
  color: var(--white-text-color);
}

.footer-text-wrap {
  padding-bottom: 50px;
}

.footer-text-wrap > p {
  font-size: 28px;
  line-height: 1.2;
}

.footer-text-wrap p {
  font-weight: 500;
}

.address-wrap {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 14px;
  gap: 8px;
}

.footer-text-wrap:after {
}

.footer-menu-list {
  gap: 24px;
}

.submit-btn {
  background-color: var(--primary-brand);
  padding: 16px 32px;
  border-radius: 100px;
  font-weight: 500;
  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--pressed-state);
  color: var(--primary-brand);
}

.submit-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  padding: 14px 24px;
  width: 313px;
  margin-right: 8px;
  color: var(--white-text-color);
}

.submit-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
